<ion-header>
  <ion-navbar>
    <ion-title text-center>{{pedidos.length}} Itens Adicionados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="novoPedido != null">
    <ion-slides #pedidosSlide (ionSlideDidChange)="testSlide(pedido)" *ngFor="let pedido of novoPedido">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-title>

            </ion-card-title>
            <ion-item text-center>
              {{pedido.qntd}} {{pedido.itemName}} de {{pedido.itemSabor}}
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-item text-center>
      Total a pagar: {{totalPedido | currency: 'R$'}}
    </ion-item>
    <ion-item>
      <button ion-button block (click)="novoItem()">
         Novo Item
       </button>
      <button ion-button block>
         Finalizar Pedido
       </button>
    </ion-item>
  </ion-list>
</ion-content>
